<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <!-- <header>
        <div>
            <h4>Welcome to Backend Test 2 solution!</h4>
        </div>
        
        
    </header> -->
    <!-- <% if(flash.success && flash.success.length>0){%>
        <h5><%=flash.success%></h5>
    <%}%> -->
    <main>
        <%- body %>
    </main>

    <!-- <footer>
        <h5>Footer</h5>
    </footer> -->
    
    <script>
        <%if(flash.success && flash.success.length>0){%>
            new Noty({
                    theme: 'relax',
                    text: "<%= flash.success %>",
                    type: 'success',
                    layout: 'topRight',
                    timeout: 500
                    
                }).show();    
            <%} %>
            <% if (flash.error && flash.error.length > 0) {%>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 500
                    
                }).show();    
            <%} %>

    </script>

</body>